/* About Me Page */
@media only screen and (min-width:769px){
.two-column-wrapper {
    display:grid;
    grid-template-columns: 2fr  ;
}
}

.profile-image-wrapper img  {
    Width: 250px;
    height: 450px;
    background-image: url(IMG/IMG_8203.JPG);
    
}   

.profile-content-wrapper {
    padding: 10px;
    width:400px;
}

.profile-content-wrapper h1 {
    color:orange;
    align-content:center;
}

.profile-content-wrapper2   img {
    width: 100%;
    height: 100%;
    display: flex; 
}

@media only screen and (max-width:767px){
    .profile-image-wrapper img  {
        margin: 50px 90px 0px;
        Width: 52%;
        height: 350px;
        background-image: url(IMG/IMG_8203.JPG);   
        
    }   
    
    .profile-content-wrapper p {
        padding: 15px;
        width:100%;
        margin: 0px 10px;
    }
    .profile-content-wrapper{
        width: 100%;
    }

    .profile-content-wrapper h1 {
        text-align: center;
       
    }

    .profile-content-wrapper2 img{
        width: 100%;
    }

}    



@media only screen and (min-width:768px) {
    .content_wrapper {
        
        width: 100%;
        padding-bottom: 0px;
    }

        .two-column-wrapper {
    display:grid;
    grid-template-columns: 1fr 1.2fr 1fr ;

}
@media only screen and (max-width:767px){
    .two-column-wrapper{
        display:none;
    }
}


.profile-image-wrapper img  {
    Width: 100%;
    height: 1100px;
    background-image: url(IMG/IMG_8203.JPG);
    background-position: top;
}   

.profile-content-wrapper {
    padding: 10px;
    width: 100%;
}
.profile-content-wrapper p {
    padding: 40px;
    width: 100%;
  
}

.profile-content-wrapper h1 {
    color:orange;
    
    text-align:center;
    margin: 0px 0px 50x 50px
}

.profile-content-wrapper2   img {
    width: 100%;
    height: 550px;
   
}