@media only screen and (min-width: 769px){
.Resources-title {
    display:flex;
    justify-content: space-between;
    background-color: rgb(14, 7, 0);
    height: 80%;
    font-size: 300%;
    
}

.Resources-title p{
 margin: 10px 10%;
font-style:oblique;
 color:white;
}

.discretion{
    text-align:center;
    background-color: rgb(219, 87, 10);
    font-family: 'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    
}

.six-column-wrapper{
    display:grid; 
    background-color:rgb(26, 211, 57);
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr ;
    font-family:sans-serif
}

.six-column-wrapper h2 {
   
    width: 100%;
    height:20px;
    text-align:center;
}
.six-column-wrapper h3{
    text-align:center;
}
.six-column-wrapper img{
    width: 100%;
    height:250px;
}

.General-Chemistry-I{
background-color: rgb(156, 149, 149);
border: 1px solid black;
font-family:'Times New Roman', Times, serif
}

.General-Chemistry-II{
    background-color:rgb(202, 190, 190);
    border: 1px solid black;
    font-family:'Times New Roman', Times, serif
}
.General-Chemistry-III{
    background-color:rgb(12, 153, 158);
    border: 1px solid black;
    font-family:'Times New Roman', Times, serif
}
.Organic-Chemistry-I{
    background-color: rgb(48, 180, 212);
    border: 1px solid black;
    font-family:'Times New Roman', Times, serif
}
.Organic-Chemistry-II{
    background-color: rgb(8, 221, 150);
    border: 1px solid black;
    font-family:'Times New Roman', Times, serif
}
}

@media only screen and (max-width: 768px){

    .six-column-wrapper{
        display:grid; 
        background-color:rgb(26, 211, 57);
        grid-template-columns: 2fr;
        font-family:sans-serif
    }

    .Resources-title {
        display:none;
        
    }
    
    .Resources-title p{
     margin: 10px 10%;
    font-style:oblique;
     color:white;
    }
    
    .discretion{
        text-align:center;
        background-color: rgb(219, 87, 10);
        font-family: 'Times New Roman', Times, serif;
        color:rgb(255, 255, 255);
        
    }
    

    .six-column-wrapper h2 {
        display:none;
        width: 100%;
        height:20px;
        text-align:center;
    }
    .six-column-wrapper h3{
        text-align:center;
    }
    .six-column-wrapper img{
        display:none;
    }
    
    .General-Chemistry-I{
    background-color: rgb(156, 149, 149);
    border: 1px solid black;
    font-family:'Times New Roman', Times, serif
    }
    
    .General-Chemistry-II{
        background-color:rgb(202, 190, 190);
        border: 1px solid black;
        font-family:'Times New Roman', Times, serif
    }
    .General-Chemistry-III{
        background-color:rgb(12, 153, 158);
        border: 1px solid black;
        font-family:'Times New Roman', Times, serif
    }
    .Organic-Chemistry-I{
        background-color: rgb(48, 180, 212);
        border: 1px solid black;
        font-family:'Times New Roman', Times, serif
    }
    .Organic-Chemistry-II{
        background-color: rgb(8, 221, 150);
        border: 1px solid black;
        font-family:'Times New Roman', Times, serif



    }  
  }
