@media only screen and (min-width: 768px){
.contacts {
position:fixed;
width: 350px;
height: 150;

left: 40%;
top: 34%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: rgba(128, 236, 213, 0.6);
border-radius: 25px;
padding: 15px;
text-decoration:none;
}
.contacts a{
    color: white;
    background-color:rgb(255, 102, 0);
    text-decoration:none;
    text-align:center;
}

.contacts h2:hover{
    background-color: rgb(245, 133, 29);
        border-bottom: px solid rgb(7, 7, 7);
        color:black;
    

}

.contacts h2{
    position:absolute;
    color: rgb(255, 255, 255);
    background-color:rgb(42, 128, 57);
    text-decoration:none;
    text-align:center;
    width: 50%;
    left: 43%;
    border-radius: 5px;
    top: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}
}

@media only screen and (max-width: 768px){
    .contacts {
        position:absolute;
        width: 350px;
        height: 150;
        
        left: 7%;
        top: 28%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgba(128, 236, 213, 0.6);
        border-radius: 25px;
        padding: 15px;
        text-decoration:none;
        }
        .contacts a{
            color: white;
            background-color:rgb(255, 102, 0);
            text-decoration:none;
            text-align:center;
        }
        
        .contacts h2:hover{
            background-color: rgb(245, 133, 29);
                border-bottom: px solid rgb(7, 7, 7);
                color:black;
            
        
        }
        
        .contacts h2{
            position:absolute;
            color: rgb(255, 255, 255);
            background-color:rgb(42, 128, 57);
            text-decoration:none;
            text-align:center;
            width: 50%;
            left: 43%;
            border-radius: 5px;
            top: 80%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
            
        }
}

@media only screen and (max-width: 413px){
    .contacts {
        position:absolute;
        width: 325px;
        height: 150;
        
        left: 7%;
        top: 26%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgba(128, 236, 213, 0.6);
        border-radius: 25px;
        padding: 15px;
        text-decoration:none;
        }
        .contacts a{
            color: white;
            background-color:rgb(255, 102, 0);
            text-decoration:none;
            text-align:center;
        }
        
        .contacts h2:hover{
            background-color: rgb(245, 133, 29);
                border-bottom: px solid rgb(7, 7, 7);
                color:black;
            
        
        }
        
        .contacts h2{
            position:absolute;
            color: rgb(255, 255, 255);
            background-color:rgb(42, 128, 57);
            text-decoration:none;
            text-align:center;
            width: 60%;
            left: 23%;
            border-radius: 5px;
            top: 88%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
            
        }
}