*{
    margin: 0;
    padding: 0;
}

Body {
}
.research-header img {
    width: 100%;
    height: 400px;
    
}

.research-header p{ 
}
@media only screen and (min-width: 768px){
.Subramanian p{
    margin: 0px 18%;
}
}

.Subramanian h1{
    margin: 0px 13%;
}
.Subramanian h2{
    margin: 0px 13%;
}
.Subramanian h3{
    margin: 0px 13%;
}
.Electroceramics p{
    margin: 0px 18%;
}
.Electroceramics h1{
    margin: 0px 13%;
}
.Electroceramics h2{
    margin: 0px 13%;
}
.Electroceramics h3{
    margin: 0px 13%;
}
@media only screen and (min-width: 768px){
.MAD p{
    margin: 0px 18%;
}
}

.MAD h1{
    margin: 0px 13%;
}
.MAD h2{
    margin: 0px 13%;
}
.MAD h3{
    margin: 0px 13%;
}

.MAD p{
font-size: 20px;
font-family:sans-serif;
}
.MAD a{
    color: rgb(255, 123, 0);
    text-decoration:none;
}
.MAD a:hover {
    color:blue;
}
.Subramanian p{
    font-size: 20px;
font-family: sans-serif;
    }
.Subramanian  a{
     color: rgb(255, 123, 0);
     text-decoration:none;
}
.Electroceramics a:hover {
    color:blue;
}

.Electroceramics p{
    font-size: 20px;
font-family: sans-serif;
    }
.Electroceramics  a{
     color: rgb(255, 123, 0);
     text-decoration:none;
}
.Electroceramics a:hover {
    color:blue;
}
.MOF {
    text-align: center;
    display: block;
}

.perovskite {
    text-align: center;
    display: block;
}
@media only screen and (min-width: 768px){
.perovskite img{
    width: 20%;
    height: 20%;
}
}

.yinmin{
    text-align:center;
    display:block;
}



    
    
    @media only screen and (max-width: 768px){
        .MAD p{
            margin: 0px 8%;
            
        }
        .perovskite img{
            width: 70%;
            height: 25%;
        }
        .Subramanian p{
            margin: 0px 8%;
        }
        .Electroceramics p{
            margin: 0px 8%;
        }
        }
        
       

}