*{
    margin: 0;
    padding: 0;
}

Body {
}

.research-header img{
    width:100%;
    height: 65vh;
    object-fit:cover;
    
    
}

@media only screen and (max-width:768px){
    .research-header img{
        height: 400px;
        object-fit:cover;
    }
}

.research-header2 img{
    width:100%;
    height:400px;
    object-fit:contain;
    
}
.experience-photo img{
    width:80%;
    border-radius:50%;
    height: 275px;
    top: 59px;
    object-fit:cover;
   }
   .resume-link a{
    margin:10px;
    text-decoration: none;
    color: rgb(180,6,6);
}
.resume-link a:hover {
    color:rgb(6, 83, 199)
}
  
   @media only screen and (min-width: 769px){
    .experience-photo { 
        height:200px;
        width: 200px;
        left: 18%;
        border-radius: 50%;
        margin:0px 0px 0px 0px;
            position: absolute;
            
                
    }
    }
    
    @media only screen and (min-width: 769px){
        .experience-photo img{ 
            height:260px;
            width: 205px;
            Border-radius:1000%;
            left: 20px;
            top: 320px;
            margin:0px 0px 0px 0px;
                position: absolute;
                
                    
        }

        @media  (max-width: 1025px){
            .experience-photo p{
                
                display:none;
                background-color:red;
                top:1900px;
                left: 500px;
            }
        }

        .experience-content img{
            width:100%;
            height:220px;
            object-fit:cover;
        }
        }
    
    @media only screen and (min-width: 1025px){
        .experience-photo{ 
            height:0px;
            width: 0px;
            left: 0%;
            top: 0%;
            margin:0px 0px 0px 0px;
                position: absolute;
              
        }
    }    
    @media only screen and (min-width: 1025px){
        .experience-photo{ 
            height:0px;
            width: 0px;
            left: 0%;
            top: 0%;
            margin:0px 0px 0px 0px;
                position: absolute;
                
                    
        }
        }
    @media only screen and (min-width: 769px){
        .experience-photo{
            top:2%;
            left:32%;
        }
        }
    
    @media only screen and (min-width: 1025px){
        .experience-header {
            position: absolute;
            top: 310px;
           left: 45%;
            width: 300px;
        
        }
    }
    
    
    @media only screen and (max-width 1025px){
        .experience-header h1{
            position: absolute;
            top: 0px;
            left: 400px;
            width: 250px;
        }

        .experience-content img{
        display:none;
    }
}


    
    .experience-header b{
        color: rgb(0, 0, 0);
        font-size: 40px;
    }
    @media only screen and (min-width: 1025px){
        .experience-photo p{ 
    width: 500px;
    left: 250px;
    top: 420px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 0px;
    background-color: rgb(250,250,250);
    font-size:18px;
    position:absolute;
    padding:0px;
    margin:0px;
    
        }
    }
    
    
    
    @media only screen and (max-width: 768px){
        .experience-photo p{ 
            width: 290px;
        left: 33%;
        top: 500px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 50px;
        background-color: white;
        position:relative;
        font-size: 16px;
        }

        .experience-content img{
            width:100%;
        }
    }
        
    
    @media only screen and (max-width: 768px){
        .experience-header h1 { 
            top: 80px;
           text-align:center;
            position: relative;
    
        }
    }
    
    @media only screen and (max-width: 768px){
        .experience-photo p{ 
            width: 270px;
        left:0%;
        top: 490px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 50px;
        background-color: rgb(250,250,250);
        position:relative;
        font-size: 16px;
        }
        }
    
        @media only screen and (max-width: 768px){
            .experience-photo{ 
                width: 290px;
            left: 19%;
            top: 0%;
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            border-radius: 50px;
            position:relative;
            font-size: 16px;
            }
        }

        .MAD h1{
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .MAD h2{
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .MAD h3{
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .experience-header h1{
            
                font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            
        }   
            @media only screen and (max-width: 768px){
                .experience-photo img{ 
              border-radius:1000%
                }

            }
        
.OSU-header h1{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:italic;
    font-size:300px;
}

.research-header p{ 
}
@media only screen and (min-width: 768px){
.Subramanian p{
    margin: 0px 18%;
}
}

.Subramanian h1{
    margin: 0px 13%;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.Subramanian h2{
    margin: 0px 13%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Subramanian h3{
    margin: 0px 13%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Electroceramics p{
    margin: 0px 18%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Electroceramics h1{
    margin: 0px 13%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Electroceramics h2{
    margin: 0px 13%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Electroceramics h3{
    margin: 0px 13%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media only screen and (min-width: 768px){
.MAD p{
    margin: 0px 18%;
}
}

.MAD h1{
    margin: 0px 13%;
    font-size:30px;
}
.MAD h2{
    margin: 0px 13%;
    font-size:23px;
}
.MAD h3{
    margin: 0px 13%;

}

.MAD p{
font-size: 20px;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.MAD a{
    color: rgb(180, 4, 4);
    text-decoration:none;
}
.MAD a:hover {
    color:blue;
}
.Subramanian p{
    font-size: 20px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
.Subramanian  a{
     color: rgb(180, 6, 6);
     text-decoration:none;
}
     .Subramanian  a:hover{
        color:blue;
       
}
.Electroceramics a:hover {
    color:blue;
}

.Electroceramics p{
    font-size: 20px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
.Electroceramics  a{
     color: rgb(180,6,6);
     text-decoration:none;
}
.Electroceramics a:hover {
    color:blue;
}
.MOF {
    text-align: center;
    display: block;
    width: 100%;
}

.MOF p{
    text-align:left;
}


.perovskite {
    text-align: center;
    display: block;
}
@media only screen and (min-width: 768px){
.perovskite img{
    width: 20%;
    height: 20%;
}
}

.yinmin{
    text-align:center;
    display:block;
}



    
    
    @media only screen and (max-width: 768px){
        .MAD p{
            margin: 0px 8%;
            
        }
        .perovskite img{
            width: 70%;
            height: 25%;
        }
        .Subramanian p{
            margin: 0px 8%;
        }
        .Electroceramics p{
            margin: 0px 8%;
        }
        }
        
       

}