html
@media only screen and (min-width: 768px){
 .osu{
        background-image: url(IMG/OSU.jpg);
        background-repeat: no-repeat;

 }
 }
 .ochem {
    width:100%;
    height:1300px;
    background-image: url(IMG/Ochem.jpg);
    background-size: cover;
    background-repeat: no-repeat
    
 }

 .body{
     overflow:hidden;
 }

.container{
    
    background-image: url(IMG/20220520_192104.JPG);
        background-image: url(IMG/Campus.jpg);
        background-image: url(IMG/IMG_20220117_145325_Original.jpg);
        background-size:cover;
        background-repeat:no-repeat;
        height:82vh;
        background-position-x: center;
        background-position-y: 30%;
        
      
    transition:0s;
    animation-name: animate;
    animation-direction: normal;
    animation-duration:30s;
    animation-fill-mode: backwards;
    animation-iteration-count:infinite ;
    animation-play-state:running;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    -webkit-backface-visibility:hidden;
}

@keyframes animate {
    20%{
        background-image:url(IMG/IMG_20220117_145325_Original.jpg);
    }
    50% {
        background-image: url(IMG/Campus.jpg);
    }80%{
         background-image: url(IMG/20220520_192104.JPG);
    }
    90%{
        background-image:url(IMG/IMG_20220117_145325_Original.jpg);
    }
 
}

.resume-links{
    text-align:center;
    padding: 0px;
    font-size:15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic;
    display:flex;
    margin-top: 11px;
    
    margin-left:41%;
    
   
}
.resume-links a{
    margin-left:30px;
    margin-right:30px;
    
    text-decoration: none;
    text-align:center;
    color: #000;
}

.resume-links a:hover {
    color:brown;
}


    .name {
        position: static; 
        background-color: rgba(51, 153, 11, 0.6);
        border-radius: 0px;
        font-size: 50px;
    }

    .name div {
        text-align:center;
    }
     
    .welcome {
        left:0%;
        font-size: 30px ;

    }

    .intro h1 {
        
        position:fixed;
        width: 400px;
        Font-size:  200%;
        left:6%;
        top: 29%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgba(253, 253, 253, 0.86);
        border-radius: 10px;
        margin-left:20px;
        
    
       
    }
.updates p{
    position:fixed;
    width: 350px;
    left: 70%;
    top: 28%;
    font-family:'Times New Roman', Times, serif;
    background-color: rgba(184, 183, 183, 0.75);
    border-radius: 25px;
    padding: 10px 20px 10px;
}

        .wrapper {
            width:100%;
            display: column
        }
   

    .intro {
        width: 70%;
    }
    .intro  {
        padding: 20px 10px 20px;
        font-family: arial;
        font-size: 13px;
        color: #111;
        line-height: 20px;

    }

    .osu {
        width:100%;
        object-fit:cover;
        
        
    }

    @media only screen and (min-width:768px){
        .phone{
            display:none;
        }
    }


    @media only screen and (max-width:1025px){
.phone{
    display:cover;
}
    }


    @media only screen and (max-width: 768px){
        .intro{
            width: 100%;
        }
        .intro p{ 
            
            position:absolute;
            display: block;
            width: 100%;
            top: 10%;
            left: 30%;
        }
        .updates p{
            display:none;

            
        } 
.phone img{
    object-fit:contain;
    width:100%;
}

          
          .beginning{
              height: 150%;
              background-color:rgb(250,250,250);
          }

          .osu img{
              object-fit:cover;
              
          }
          .intro h1{
              display: none;
          }
        
        }

    
    } 

    .Ochem {
        width:100%
    }
    @media only screen and (min-width:768px) {
        .container {
            display: block;
            width: 100%;
            padding-bottom: 0px;
        }

        .welcome {
            left:0%;
            font-size: 50px ;
        }
        
        .nav-wrapper {
            position: sticky;
            display: flex; 
            justify-content: space-between;
            font-family:sans-serif;
            padding: 38px;
            background-color: rgb(250, 123, 3)
        }
        .left-side {
            display: flex;
        }
        .nav-wrapper > .left-side > div {
            margin-right: 20px;
            font-size: 1em;
            text-transform: 
        
        }
        body {
            margin: 0px;
            user-select: auto;
            pointer-events: auto;
        }
        .nav-link-wrapper {
            height: 22px;
            border-bottom: 1px solid transparent;
            transition: border-bottom 1s;
        
        }
        
        .nav-link-wrapper a {
            color:#fdfdfd;
            text-decoration: none;
            transition: color 1s;
        
        }
        
        .nav-link-wrapper:hover {
            border-bottom: 1px solid rgb(7, 7, 7);
        
        }
        
        .nav-link-wrapper a:hover {
            color: rgb(7, 7, 7);
        }
        .intro {
           
            margin: 200px;
            font-size: 12px;
        }
           .intro h1 {
           
            margin: 90px;
            
            font-size: 68px;
            border-radius: 15px;
            padding: 50px 40px 50px;
            top: 29%;
            left:2%;
            text-align:center;
           }
        @media only screen and (min-width: 769px){
        .osu {
            width:100%;
            height: 1000px;
            background-image: url(IMG/OSU.jpg);
            background-repeat: no-repeat;
        
            background-position: right;
            
     }
    }
     .ochem img {
        width:100%;
        Height: 500px;
        
        
     
        }

        .intro{
            position:fixed;
            width: fit-content;
            left: 0%;
            top: 30%;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
            background-color: rgb(253, 253, 253, 0.86);
            border-radius: 30px;
        }
        .intro h3{
            font-size:24px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 10px;
        }
 

            .updates p{
                display:none;
                position:fixed;
                width: 350px;
                left: 25%;
                top: 60%;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                background-color: rgba(250, 250, 250, 0.75);
                border-radius: 25px;
                padding: 10px 20px 10px;
        
        }
  

    